<div class="container">

<%= render partial: 'layouts/navbar' %>
	<h1>DragonFly</h1>

	<h4>Vantagens:</h4>
	<p>Obs: sรณ imagem original (ela nao faz thumb ou outros arquivos)</p>
	<p>cached (carrega 1 vez depois + facil)</p>
	<p>Salva arquivo. como apenas 1 arquivo</p>

	<div class="well">
			<p>gem 'dragonfly', '~> 1.0.7'</p>
			<p>rails generate dragonfly</p>



	</div>