<div class="container">

<%= render partial: 'layouts/navbar' %>
<%= link_to 'Voltar', ruby_index_path, class: "btn btn-default" %>

<h1>E-Mail:</h1>

<p>Simples:</p>
<p>< a href="mailto:kelber@gmail.com">Email</p>