<div class="container">

<%= render partial: 'layouts/navbar' %>
<%= link_to 'Voltar', ruby_index_path, class: "btn btn-default" %>
<h1>CSS & SCSS no Ruby</h1>
<hr>

		<h2>Ex. Twitter</h2>
			<div class="well">
			<p>.status { <br>
					border-bottom: solid 1px #ccc; <Br>
					padding: 50x 0;  <br>
					}  <br>
					.status p {  <Br>
					   margin: 4px 0; <br>
					   }  <br>
					.status :hover {  <br>
							background-color: #FAFAFA;  <bR>
							}  <br>

					.status .admin {  <br>
					 		display: none;  <br>
					 		} <br>
					.status:hover .admin {   <br>
							display: inline;  <br>
							}  <br>
      </p>

      <p><code>arquivo.js.coffee</code></p>
      	<p> $ -> <br>	
      				$('.status').hover(event) ->   <br>
      					$(this).toggleClass('hover') 
      	</p>

  </div>


  <h1>Estilos CSS</h1>
  
	<div class="well">
	<p>
		.post { bakcground: white; <Br>
				.title {<br>
					padding: 2em 5%;<br>
					margin: 0;<br>
					a { <br>
					border-bottom: 1px solid #D1d1d1;<Br>
					}<Br>
				}}<br>
	</p>

	<p>Outras cores: #EDEFF0;<BR>
	#397CAC;<BR>
	#B2BAC2;<BR>

	<p>DICAS:<bR>
	http://html-ipsum.com/</p>
	</div>
