<div class="container">


<%= render partial: 'layouts/navbar' %>

<div class="well">
<h1>Bem vindo ao Ruby on Rails</h1>
<h4>Tudo sobre Ruby e Rails o framework ruby</h4>
</div>


	<%= link_to 'Voltar', home_index_path, class: "btn btn-default" %>


</div>