<div class="container">

<%= render partial: 'layouts/navbar' %>
<%= link_to 'Voltar', ruby_index_path, class: "btn btn-default" %>
	<h1>MVC</h1>
	<hr>

	<H1> ROTAS --> CONTROLLER ----> VIEW<BR>
									MODEL vai/volta CONTROLLER<br>
									MODEL --> databases, api, rails app  <br>
	</h1>

	<H3>Verbos HTTP:</H3>
		<p>GET</p>
		<P>POST</P>
		<P>PUT</P>
		<P>DELETE</P>

		<p><code>Checar Lista  rake -T</code></p>