<div class="container">

<%= render partial: 'layouts/navbar' %>

<div class="well">
<h1>Sobre</h1>
<h4>Aqui podera ficar informacoes sobre alunos ou detalhes afins...</h4>
</div>


	<%= link_to 'Voltar', home_index_path, class: "btn btn-default" %>


	</div>