
<div class="container">


<%= render partial: 'layouts/navbar' %>

<h1>GitHub <i class="fa fa-github"></i></h1>

<hr>

<h3>Iniciando Projeto</h3>
	<div class="well">
	<p>git config --global user.name "nome do usuario github"</p>
	<p>git config --global user.email "seu email"</p>
	<p>git init</p>
	<p>git add --all</p>
	<p>git checkout -b add_funcao</p>
	<p>git checkout add_funcao</p>
	<p>git merge add_funcao</p>
	<p>git commit -am (all) ou -m "Inicitial Commit"</p>

	<h3>Criando Repositorio no Github</h3>
	<p>git remote add origin https://github.com/kelberstuchi/apague.git</p>
	<p>git push -u origin master</p>

	<p><code>Puxando código do github ou código novo</code></p>
		<p>bundle + rake db:create + rake db:migrate</p>
		<p>git clone e (fork) no github</p>
		<p>git pull</p>


	<p><code>Levando código para github </code></p>
		<p>git push origin master</p>
		<p>git push origin test_branch --> atualiza o branch especifico</p>




	<h3>Finalizou o projeto faz Tag 1.0 </h3>
	<p>git tag 1.0</p>
	<p>git push origin master --tags</p>
	</div>

	<hr>
	<h3>Outros Commandos</h3>
		<p>git branch -> ver branchs </p>
		<p>git log 		-> ver commits </p>
		<p>git rm nomearq -> limpa arquivo do git</p>

		