
#monkey {
font-family: 'Poiret One', cursive;
font-weight: bold;
  font-size: 6em;
  text-align: center;

}


#school {
font-family: 'Poiret One', cursive;
font-weight: bold;
  font-size: 3em;
  text-align: center;

}


/*  TOP  */

.top {
  width: 100%;
  height: 5px;
  background-color: steelblue;
}



