

<div id="wrapper" class="active">
      
      <!-- Sidebar -->
            <!-- Sidebar -->
      <div id="sidebar-wrapper">
      <ul id="sidebar_menu" class="sidebar-nav">
           <li class="sidebar-brand"><a id="menu-toggle" href="/">< M ><span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
      </ul>
        <ul class="sidebar-nav" id="sidebar">     
          <li>
          
          		<a href="/html/index">Html<span class="sub_icon"><i class="fa fa-html5 fa-lg"></i></span></a>
             
           <li>   
          	<a>Css<span class="sub_icon"><i class="fa fa-css3 fa-lg"></i></span></a>
           </li>
           <li>   
          	<a>JS<span class="sub_icon"><i class="fa fa-cog fa-lg"></i></span></a>
           </li>
            <li>   
            <a>Design<span class="sub_icon"><i class="fa fa-pencil fa-lg"></i></span></a>
           </li>
           <li>
        <a href="/github/index">Github<span class="sub_icon"><i class="fa fa-github fa-lg"></i> 
        </span></a>
            </li>
            
           <li>   
            <a href="/ruby/index">Ruby<span class="sub_icon"><i class="fa fa-heart-o fa-lg"></i></span></a>
           </li>
         
          <li>   
            <a>Cmd<span class="sub_icon"><i class="fa fa-gears fa-lg"></i></span></a>
           </li>
           <li>   
            <a href="/ruby/aplicacoes">Apps<span class="sub_icon"><i class="fa fa-book fa-lg"></i></span></a>
           </li>
            <li>   
            <a href="/ruby/gems">Gems<span class="sub_icon"><i class="fa fa-square-o fa-lg"></i></span></a>
           </li>
        </ul>
      </div>

      
          
      <!-- Page content -->
      <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
          <div class="row">
              <div class="col-md-12">
              <BR>
              <h3>
                <%= link_to 'Monkey < School >>', root_path %></h3>
              <!-- <h3 class="well lead">
              <span class="sub_icon"></span>
              Bem vindo a Pagina KS</h3> -->
